.__sidebar {
  background-color: #588157;
  color: white;
  overflow-y: auto;
}

.__sidebar::-webkit-scrollbar {
  display: none;
}

.__sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-link.active {
  background-color: #a3b18a !important;
}

.nav-link {
  color: #dad7cd;
}

.nav-link:visited,
.nav-link:active,
.nav-link:focus {
  color: #dad7cd;
}

.nav-link:hover {
  color: white !important;
}

.__primary-btn {
  background-color: #588157;
  font-size: 18px;
  border: none;
  display: inline-block;
  width: auto;
}

.__primary-btn:hover,
.__primary-btn:active,
.__primary-btn:visited {
  background-color: #3a5a40 !important;
}

.__card {
  height: 200px;
}

.__mytask:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin-left: 10px;
}

.__submenu.show {
  max-height: 100vh;
}
