.__task-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.__task-modal .modal-dialog,
.__task-modal .modal-content {
  height: 90%;
  color: rgb(54, 52, 52);
}

.__task-modal .modal-body {
  max-height: 95%;
  overflow-y: scroll;
}

.__task-modal .modal-header {
  border: none;
  margin: 0px 6px;
  padding-bottom: 6px;
  padding-top: 20px;
}

.__task-attribute {
  font-weight: 600;
  color: rgb(103, 101, 101);
  margin-bottom: 5px;
}

.__task-label {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}
